@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Times';
    src: url(../fontes/times.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Geo';
    src: url(../fontes/Geometos.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Libel';
    src: url(../fontes/libel.otf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação do container principal */
.container {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	width: 100vw;
	height: auto;
    background-color: white;
    margin: 0;
}

/* Formatação do container box1 */
.box1{
	width: 100vw;
    height: auto;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(87, 93, 107));
    padding: 50px;
}

/* Formatação da imagem do container box1 ao passar o mouse */
.box1 img{
    width: 500px;
    height: auto;
    float: left;
    padding: 50px;
    margin-top: 60px;
    border-radius: 120px;
}

/* Formatação do h1 do container box1 */
.box1 h1{
    font-family: Geo;
    color: white;
    font-weight: normal;
	font-size: 100pt;
	text-align: center;
    padding: 50px;
}


/* Formatação do h2 do container box1 */
.box1 h2{
    font-family: Geo;
    color: white;
    font-weight: normal;
	font-size: 30pt;
	text-align: center;
    padding: 10px;
}

/* Formatação do h3 do container box1 */
.box1 h3{
    font-family: Geo;
    color: white;
    font-weight: normal;
	font-size: 20pt;
	text-align: center;
    padding-bottom: 50px;
}

/* Formatação do button do container box1 */
.box1 button{
    font-family: Geo;
    display: block;
    float: left;
    width: 300px;
    font-size: 20pt;
    color: white;
    padding: 20px;
    margin: auto;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(113, 143, 200);
}

/* Formatação do button ao passar o mouse */
.box1 button:hover{
    cursor: pointer;
    background-color: rgb(28, 85, 190);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	transition: 0.5s;
	border-radius: 20px;
}

/* Formatação do container box2 */
.box2{
	width: 100vw;
    height: auto;
    margin-top: 50px;
    padding: auto;
    background-color: white;
}

/* Formatação do container carrossel */
.slider{
    margin: 0 auto;
    overflow: hidden;
    width: 1000px;
    height: auto;
    background-color: blue;
}

.slides{
    width: 400%;
    height: 562px;
    display: flex;
}


.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 1000px;
}

.manual-navigation{
    position: absolute;
    width: 1000px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid rgb(94, 94, 94);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: rgb(94, 94, 94);;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid rgb(94, 94, 94);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 1000px;
    margin-top: 522px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: rgb(94, 94, 94);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: rgb(94, 94, 94);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: rgb(94, 94, 94);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: rgb(94, 94, 94);
}
/* Formatação do container box3 */
.box3{
	width: 100vw;
    height: auto;
    padding: 50px;
}

/* Formatação da imagem do container box3 */
.box3 img{
    width: 600px;
    height: auto;
    float: left;
    margin: 20px;
}

/* Formatação do p do container box3 */
.box3 p{
    font-family: Libel;
    color: black;
    font-weight: normal;
	font-size: 20pt;
    display: flex;
    position: right;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    margin-top: 250px;
}

/* Formatação do container box4 */
.box4{
	width: 100vw;
    height: auto;
    padding: 50px;
    margin-bottom: 100px;
}

/* Formatação h1 do container box4 */
.box4 h1{
    font-family: Geo;
    color: black;
    font-weight: normal;
	font-size: 30pt;
    padding-bottom: 50px;
}

.bloco1{
    width: 40vw;
    height: auto;
    display: inline-block;
    float: left;
    padding: 20px;
    max-width: 50%;
}

.bloco2{
    width: 50vw;
    height: auto;
    display: inline-block;
    float: right;
    max-width: 50%;
}

/* Formatação p do container bloco 1 */
.bloco1 p{
    font-family: Libel;
    color: black;
    font-weight: normal;
	font-size: 20pt;
    text-align: justify;
}

/* Formatação da imagem do container bloco 2 */
.bloco2 img{
    width: 450px;
    height: auto;
}

/* Formatação do container box5 */
.box5{
	width: 100vw;
    height: auto;
    padding: 50px;
}

/* Formatação da imagem do container box5 */
.box5 img{
    width: 800px;
    float: center;
    height: auto;
	max-width: 100%;
}

/* Formatação do container box6 */
.box6{
	width: 100vw;
    height: auto;
    padding: 50px;
    margin-bottom: 100px;
    background-color: rgb(113, 143, 200);
}

/* Formatação do container bloco 3 */
.bloco3{
    width: 40vw;
    height: auto;
    display: inline-block;
    float: left;
    padding: 150px 0px 150px 0px;
    max-width: 50%;
    background-color: white;
}

/* Formatação do h1 container bloco 3 */
.bloco3 h1{
    font-family: Libel;
    color: black;
    font-weight: normal;
	font-size: 20pt;
    text-align: center;
    padding: 20px;
}

/* Formatação do botão do container bloco 3 */
.bloco3 button{
    font-family: Geo;
    width: 300px;
    font-size: 20pt;
    color: white;
    padding: 20px;
    margin: auto;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(18, 85, 207);
}


/* Formatação do botão do container bloco 3 */
.bloco3 button:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(46, 113, 238);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bloco4{
    width: 50vw;
    height: auto;
    display: inline-block;
    float: right;
    max-width: 50%;
}

/* Formatação da imagem do container bloco 4 */
.bloco4 img{
    width: 450px;
    height: auto;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/* Formatação da imagem do container bloco 4 ao passar o mouse */
.bloco4 img:hover{
    -moz-transform: scale(1.2);
    -webkit-transition: scale(1.2);
    transform: scale(1.2);
}

/* Formatação do container box7 */
.box7{
	width: 100vw;
    height: auto;
    padding: 50px;
    margin-bottom: 100px;
}

/* Formatação do container bloco 5 */
.bloco5{
    width: 40vw;
    height: auto;
    display: inline-block;
    float: left;
    padding: 100px 0px 100px 0px;
    max-width: 50%;
}

/* Formatação do h1 container bloco 5 */
.bloco5 h1{
    font-family: Libel;
    color: black;
    font-weight: normal;
	font-size: 40pt;
    text-align: center;
    padding: 20px;
}

/* Formatação do botão do container bloco 5 */
.bloco5 button{
    font-family: Geo;
    width: 300px;
    font-size: 20pt;
    color: white;
    padding: 20px;
    margin: auto;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(18, 85, 207);
}


/* Formatação do botão do container bloco 5 ao passar o mouse */
.bloco5 button:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(46, 113, 238);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Formatação do container bloco 6 */
.bloco6{
    width: 50vw;
    height: auto;
    display: inline-block;
    float: right;
    max-width: 50%;
}

/* Formatação da imagem do container bloco 6 */
.bloco6 img{
    width: 500px;
    height: auto;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/* Formatação da imagem do container bloco 6 ao passar o mouse */
.bloco6 img:hover{
    -moz-transform: scale(1.2);
    -webkit-transition: scale(1.2);
    transform: scale(1.2);
}

/* Formatação do container box8 */
.box8{
	width: 100vw;
    height: auto;
}


.box8 h1{
    font-family: Libel;
    color: black;
    font-weight: normal;
	font-size: 40pt;
    padding-bottom: 50px;

}

/* Formatação do container box8 */
.box8 img{
	width: 80px;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/* Formatação do container box8 */
.box8 img:hover{
    cursor: pointer;
    -moz-transform: scale(1.2);
    -webkit-transition: scale(1.2);
    transform: scale(1.2);
}

.email{
    width: 30vw;
    height: auto;
    padding: 100px;
    display: inline-block;
    background-color: rgb(64, 68, 161);
    margin: 0;
}

.whats{
    width: 30vw;
    height: auto;
    padding: 100px;
    display: inline-block;
    background-color: rgb(113, 143, 200);
    margin: 0;
}

.insta{
    width: 30vw;
    height: auto;
    padding: 100px;
    display: inline-block;
    background-color: rgb(150, 182, 242);
    margin: 0;
}

/* Formatação ao diminuir a tela para uso mobile*/
@media only screen and (min-width: 300px) and (max-width: 1000px){
    /* Formatação da imagem do container box1 */
    .box1 img{
        width: auto;
        max-width: 60%;
    }
    /* Formatação do h1 do container box1 */
    .box1 h1{
        float: center;
	    font-size: 80pt;
        padding: 30px;
    }    
    /* Formatação do h2 do container box1 */
    .box1 h2{
        float: center;
	    font-size: 30pt;
    }  
    /* Formatação do h3 do container box1 */
    .box1 h3{
        float: center;
	    font-size: 20pt;
    }  
    /* Formatação do button do container box1 */
    .box1 button{
        float: center;
        text-align: center;
        width: 300px;
    }

    /* Formatação da imagem do container box3 */
    .box3 img{
        width: 500px;
        height: auto;
        float: center;
        margin: 20px;
    }

    /* Formatação do p do container box3 */
    .box3 p{
        display: flex;
	    font-size: 20pt;
        text-align: justify;
        margin-top: 100px;
    }

}